* {
	box-sizing: border-box;
}

:root {
	--extra-lt-green: #EDFFEC;
	--lt-green: #B6EDAF;
	--md-green: #84CC7B;
	--dk-green: #5BA453;
	--extra-dk-green: #325C2E;
}

.wrapper {
	width: 280px;
	height: 350px;
	margin: 0 auto;
	margin-top: 40px;
	display: flex;
	flex-direction: column;
}

.wrapper > .row {
	display: flex;
	flex-direction: row;
}

.row > div {
	background: var(--dk-green);
	border-top: 0.15px solid var(--lt-green);
	border-right: 0.15px solid var(--lt-green);
	height: 70px;
	width: 70px;
	flex: 1;
	text-align: center;
	padding-top: 9px;
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	color: var(--extra-lt-green);
}

.row > .display {
	text-align: right; 
	padding-right: 11px;
	flex: 2.85;
}

.row > .operator {
	background: var(--md-green);
	color: var(--extra-dk-green);
}

.row > .operator:hover {
	color: var(--extra-lt-green);
}

.row > .lighten:hover {
	background: var(--md-green);
}