* {
	box-sizing: border-box;
}

.wrapper {
	width: 280px;
	height: 350px;
	margin: 0 auto;
	margin-top: 40px;
	display: flex;
	flex-direction: column;
}

.wrapper > .row {
	display: flex;
	flex-direction: row;
}

.row > div {
	background: #5BA453;
	border-top: 0.15px solid #B6EDAF;
	border-right: 0.15px solid #B6EDAF;;
	height: 70px;
	width: 70px;
	flex: 1;
	text-align: center;
	padding-top: 9px;
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	color: #EDFFEC;
}

.row > .display {
	text-align: right; 
	padding-right: 11px;
	flex: 2.85;
}

.row > .operator {
	background: #84CC7B;
	color: #325C2E;
}

.row > .operator:hover {
	color: #EDFFEC;
}

.row > .lighten:hover {
	background: #A2E39A;
}